@{
    ViewBag.Title = "Contact";
}

<div class="span12">
    <div>Some text here</div>
    <div class="row">
        <div class="span5">
            <div class="form-wrapper">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" class="input-medium" id="name" name="name" >
                                <span class="field-validation-valid" ></span>
                            </div>
                        </div>      
                    </fieldset>
                </form>
                </div>
        </div>
    </div>
</div>


@*<form class="form-horizontal" method="post">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" class="input-medium" id="name" name="name" >
                <span class="field-validation-valid" ></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" class="input-medium" id="email" name="email" >
                <span class="field-validation-valid"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="website">Website</label>
            <div class="controls">
                <input type="text" class="input-medium" id="website" name="website" >
                <span class="field-validation-valid"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="comment">Message</label>
            <div class="controls">
                <textarea class="input-medium" id="comment" rows="3" name="comment" data-val="true" data-val-required="*"></textarea>
                <span class="field-validation-valid" data-valmsg-for="comment" data-valmsg-replace="true"></span>
            </div>
        </div>
    </fieldset>
</form>*@