@model IEnumerable<AspNetWithAngular.Data.Topic>

@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script src="~/Scripts/Controllers/homeIndexController.js"></script>
}

<div data-ng-controller="homeIndexController">

    <div class="message-header">
        <div>Number of messages: {{data.length}}</div>
    </div>
    
    <div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="bar" style="width: 100%"></div>
    </div>


    @*.messages>(.message.row>(.title.span10>lorem5)+(.date.span2>{Feb 12, 2013})+(.contents.span12>lorem)+(.toolbar.span12>button.btn.btn-primary.reply-button>{Reply})+.replies.span12)*5*@

    <div class="messages">
        <div class="message row" data-ng-repeat="item in data">
            <div class="title span10">
                {{item.title}}
            </div>
            <div class="date span2">
              {{item.created | date:"medium"}}
            </div>
            <div class="contents span12">
                {{item.body}}
            </div>
            <div class="toolbar span12">
                <button class="btn btn-primary reply-button">Reply</button>
            </div>
            <div class="replies span12">
                <div class="reply" data-ng-repeat="r in item.replies">
                    <div class="created pull-right">
                        {{r.created | date:"medium"}}
                    </div>
                    <div class="content">
                        {{r.body}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>




</div>